
# VScode stuff 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

## audio files in /data
data/audio/

# big

# spotify creds 
src/spotify_creds.py

# aws key file
src/cap3_key_pair.pem